
<%  include partials/header.ejs%> 


  
<!-- Main navigation-->

<%  include partials/main_nav.ejs%> 


<!-- Main content -->
<main class="container">
  <div class="jumbotron">
    <h1 class="display-4"><h1>About me </h1> 
  
  </div>

 
<main class="container navbar-brand "  >
  <a >
    <img src="Assets/images/photo.jpg" width="444" height="340" class="d-inline-block align-top" alt="">        
  </a>
  <p></p>
  <p style="text-align: center"></p>IT professional with academic training as a system engineering and hands-on experience and knowledgeable over 10 years such as back-end developer, system analyst, all levels of testing and a business intelligence analyst. Supportive and enthusiastic team player dedicated to streamlining processes and efficiently resolving project issues</p >
  
  <a class="fas fa-file-pdf" href="Assets/archives/Resume-AndresCuero-V15.pdf" role="button"> Download Andres Cuero Resume</a>

</main>
  

  
  

</main>

<%  include partials/bottom_nav.ejs%> 
  
  
 





<%  include partials/footer.ejs%> 

