



<%  include partials/header.ejs%> 


  
<!-- Main navigation-->

<%  include partials/main_nav.ejs%> 


<!-- Main content -->
<main class="container">
  <div class="jumbotron">
     
    
<main class="container navbar-brand "  >
  
    <!-- Form form bootstrap-->
    <div class="mb-1">
        <label for="exampleFormControlInput1" class="form-label">First name</label>
        <input  class="form-control" id="exampleFormControlInput1" >
      </div>
      <div class="mb-1">
        <label for="exampleFormControlInput1" class="form-label">Last name</label>
        <input  class="form-control" id="exampleFormControlInput1" >
      </div>
      <div class="mb-1">
        <label for="exampleFormControlInput1" class="form-label">Contact number</label>
        <input  class="form-control" id="exampleFormControlInput1" >
      </div>
    <div class="mb-1">
        <label for="exampleFormControlInput1" class="form-label">Email address</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
      </div>
      <div class="mb-1">
        <label for="exampleFormControlTextarea1" class="form-label">Example textarea</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="2"></textarea>
      </div>
 
      
<a class="btn btn-primary" href="/home" role="button">Send message</a>
   <a class="navbar-text" aria-current="page" href="https://www.linkedin.com/in/andres-felipe-cuero-giraldo-03769349/" target="_blank"><i class="fa-brands fa-linkedin"></i>LinkedIn</a>

<a class="navbar-text" aria-current="page" href="mailto:andresfelipecuero@gmail.com" target="_blank"><i class="fa-solid fa-at"></i>Email</a>


</main>
  
  </div>

 

<%  include partials/bottom_nav.ejs%> 
  
  
 





<%  include partials/footer.ejs%> 



