
<%  include partials/header.ejs%> 


  
<!-- Main navigation-->

<%  include partials/main_nav.ejs%> 


<!-- Main content -->
<main class="container">
  <div class="jumbotron">
    <h1 class="display-4"><h1>Welcome to the <%= title %> page</h1> </h1>
  
  </div>

 
<main class="container navbar-brand"  >
  <a >
    <img src="Assets/images/myLogo2.png" width="200" height="200" class="d-inline-block align-top" alt="">        
  </a>
  <h1 class="navbar-text" >
    Andres Felipe Cuero's Portfolio 
  </h1>
  <p class="navbar-text">COMP229– Web Application Development. </p>
    
    <p class="navbar-text"> This is a personal Portfolio Website using ExpressJS and implementing the EJS templating 
    engine.  </p>
    
    <p class="navbar-text">  The site is hosted live on a Heroku cloud service. 
  </p>
</main>
  

  
  

</main>

<%  include partials/bottom_nav.ejs%> 
  
  
 





<%  include partials/footer.ejs%> 

