
<%  include partials/header.ejs%> 


  
<!-- Main navigation-->

<%  include partials/main_nav.ejs%> 


<!-- Main content -->
<main class="container">
  <div class="jumbotron">
    <h1 class="display-4"><h1>Projects</h1> 
  
  </div>

  <!--
  Carousel code from bootstrap
  https://getbootstrap.com/docs/5.2/components/carousel/
  -->
 
<main class="container navbar-brand "  >
   
    <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel" >
        <div class="carousel-inner">
          <div class="carousel-item active" data-bs-interval="10000">
            <img src="Assets/images/03_ACS.png"  width="600" height="300" alt="...">

            <div class="card-body">
                <h5 class="card-title">Mas</h5>
                <p class="card-text">
                    Chiller johnson control project.

                    Duties:

                    QA Automation Engineer part of a large enterprise level project developing a global web based application.  Using Agile/ scrum methodology, and SAFe (Scaled Agile Framework).
                      Create new test cases for UI testing.
                      Follow up-to regression testing in a CI/CD pipeline.
                     Update test case needs it.

                    Set of technologies:
                    C#, Selenium, MSTest. Postman, Swagger, BrowserStack, Jmeter, Configure CI/CD  pipelines with  Azure DevOps for regression testing.
                    
                </p>
              </div>

          </div>
          <div class="carousel-item" data-bs-interval="2000">
            <img src="Assets/images/datawarehouse-1.jpg" width="600" height="300" alt="...">

            <div class="card-body">
                <h5 class="card-title">C# Project</h5>
                <p class="card-text">
                    Data warehouse project to analyze credit's profitability

                    Duties
                     ETLs and PL/SQL development 
                     BI analyst and management outsourcing BI developers.
                     Test management (test cases, executions, log of findings) and automation
                    
                    Set of technologies:
                    ·Java, ORACLE SQL Server, ETLs, Business Intelligence, Oracle Data Integrator, SQL server integration services (SSIS), IBM Cognos.
                    
                </p>
              </div>

          </div>
          <div class="carousel-item">
            <img src="Assets/images/sure2care(1).jpg"  width="600" height="300" alt="...">

            <div class="card-body">
                <h5 class="card-title">C# Project</h5>
                <p class="card-text">
                    Development  for Sure2Care -Tui Travel (outsourcing) 
                    Duties:
                    Work in a maintenance project to manage risk management, hotelbeds suppliers and fly deals.
                    
                </p>
              </div>

          </div>
        </div>
        <button class="carousel-control-prev navbar-dark" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next navbar-dark" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>


</main>

<%  include partials/bottom_nav.ejs%> 
  
  
 





<%  include partials/footer.ejs%> 

