


<%  include partials/header.ejs%> 


  
<!-- Main navigation-->

<%  include partials/main_nav.ejs%> 


<!-- Main content -->
<main class="container">
  <div class="jumbotron">
    <h1 class="display-4"><h1>Services</h1> 
  
  </div>

 
<main class="container navbar-brand "  >
  
    <a>
    <img src="Assets/images/sce-banner-1.jpg" width="400" height="200" alt="...">
   </a>
    
       
        <p class="lead">Programing:Java EE (with mainly frameworks), C#, PHP,SQL, shell scripting</p>
        <p class="lead">Testing: Selenium, MSTest.Junit, Postman, Serenity, BrowserStack,cucumber with BDD, Jmeter, SoapUI, page object model design pattern.</p>
        <p class="lead">Databases: ORACLE,SQL Server, MySQL, Postgres/Postgis. Transact-SQL, DTSs, PL SQL. (SQL fundamentals certificate), some knowledge with non-sql like MongoDB, Mongodb compass</p>
        <p class="lead">ETLs, Business Intelligence:Oracle Data Integrator, SQL server integration services (SSIS), IBM Cognos. </p>
      
     

</main>

<%  include partials/bottom_nav.ejs%> 
  
  
 





<%  include partials/footer.ejs%> 

